* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}

.contaniner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
}

.contaniner .tenor-gif-embed {
    max-width: 200px;
}

.contaniner .btn {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem hsla(0, 0%, 0%, 0.3);
    font-size: 18px;
}
@media (max-width: 480px) {
    #move-random {
        font-size: 16px;
        padding: 8px 18px;
    }
}
